---
layout: layouts/base.njk
title: 認證資格
description: Foreign Immigration Services 獲菲律賓共和國移民局認證為認證顧問機構，認證編號 CA‑202623557。
---
<section class="section">
  <div class="wrap prose">
    <p class="tag">認證資格</p>
    <h1>認證資格</h1>
    <p>Foreign Immigration Services 獲菲律賓共和國移民局(Bureau of Immigration)認證為認證顧問機構(Accredited Consultancy)，該機構為負責管理菲律賓移民法令之政府部門。</p>

    <div class="notice-box">
      <p><strong>菲律賓移民局認證顧問機構</strong><br>
      認證編號 CA‑202623557</p>
    </div>

    <p>如對本認證有任何疑問，歡迎<a href="/zh-hant/contact/">與我們聯絡</a>。</p>
  </div>
</section>
