---
layout: layouts/base.njk
title: Accreditation
lang: en
description: Foreign Immigration Services is accredited by the Bureau of Immigration of the Republic of the Philippines as an Accredited Consultancy, Accreditation No. CA-202623557.
---
<section class="section">
  <div class="wrap prose">
    <p class="tag">Accreditation</p>
    <h1>Accreditation</h1>
    <p>Foreign Immigration Services is accredited by the Bureau of Immigration of the Republic of the Philippines, the Philippine government agency responsible for the administration of immigration law, as an Accredited Consultancy.</p>

    <div class="notice-box">
      <p><strong>Bureau of Immigration Accredited Consultancy</strong><br>
      Accreditation No. CA-202623557</p>
    </div>

    <p>For questions regarding this accreditation, please <a href="/contact/">contact us</a>.</p>
  </div>
</section>
